.body-style {
    background-color: #c7c7c7;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

.input-container {
    background-color: #383838;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #3c3c3c;
    width: 95%;

    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.input-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
}

.form-container {
    width: 100%;
    margin: 0;
    margin: 1rem 0 1rem 0;
}

.container-button {
    width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.button {
    background-color: #6a6a6a;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.table-container {
    background-color: #383838;
    box-shadow: 1px 1px 5px 1px #3c3c3c;
    border-radius: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding-bottom: 1.5rem;
}

.table-style {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.title-style {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 1rem;
}

.table-descriptions {
    font-size: 1.3rem;
    background-color: #464646;
}

.team-column-desc {
    text-align: left;
    padding-left: 1.2rem;
}

.team-column {
    text-align: left;
    padding-left: 3rem;
}

.row-list-light {
    background-color: #6a6a6a;
}

.row-list-dark {
    background-color: #5a5a5a;
}

tr,
th,
td {
    text-align: center;
    padding: .35rem;
}